.table-div {
    background: #fff;
    margin-top: 40px;
    padding: 10px;
    position: relative;
    padding-top: 40px;
    height: 63vh;
    .fixed-table-container-inner {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        border-top: 2px solid #ECECEC;
        @include scrollbar;
        table {
            width: 100%;
            .inner-th {
                position: absolute;
                top: 13px;
                line-height: 18px;
                text-align: center;
                padding-left: 5px;
                min-height: 20px;
                margin-left: 0px;
                font-family: $font-bold;
                color: #484848;
                i {
                    background-color: $primary;
                    color: $white;
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid #e8e8e8;
                    td {
                        font-family: $font-regular;
                        font-size: 15px;
                        padding: 10px 5px;
                        color: #5d5d5d;
                        font-weight: 100;
                    }
                }
            }
        }
        .no-result-found {
            font-size: 20px;
            font-family: $font-semibold;
            text-align: center;
            color: #EA3434;
            margin-top: 140px;
        }
    }
}
