
$primary:           			#3f51b5;
$info:              			#2196f3;
$success:           			#4caf50;
$warning:           			#ffc107;
$danger:            			#f44336;
$accent:            			#7e57c2;
$light:             			#eaebec;
$dark:              			#475069;
$error: 						#D71818;
$shortlist:						#F44336;
$blue:							#2c48ff;
$pink:							#f01e4d;



$font-size-base:          		14px;
$font-size-xl:            		ceil($font-size-base * 2.28); // ~32px
$font-size-lg:            		ceil($font-size-base * 1.71); // ~24px
$font-size-md:            		ceil($font-size-base * 1.14); // ~16px
$font-size-sm:            		ceil($font-size-base * 0.92); // ~13px
$font-size-xs:            		ceil($font-size-base * 0.85); // ~12px
$font-size-xxs:           		ceil($font-size-base * 0.71); // ~10px


$font-thin:						'roboto-thin';
$font-light:					'roboto-light';
$font-regular:					'roboto-regular';
$font-semibold:					'roboto-semibold';
$font-bold:						'roboto-bold';
$font-black:					'roboto-black';