header
	div.row
		div.col-md-12
			div.row
				div.col-md-2
					div.logo-section
						a(href="/")
							img(src="/images/spinny-logo-b.png", alt="Logo")
				div.col-md-3.col-md-offset-7
					div.user-section
						div.user-detail
							div.user-img
								img(src="/images/user-image.jpg", alt="user image")
							div.user-name
								| Rishabh Agr
						div.user-drop-down-section
							ul
								li
									a(href="#")
										| Logout



