extends layout.jade
block content
	div.subheader
		div.row
			div.col-md-6
				h3 All User Section
			div.col-md-6
				div.button-section
					a(href="/user/new") Add User
	div.table-section
		div.table-div.table-responsive
			div.fixed-table-container-inner
				table.two-rows-table
					thead
						tr
							th 
								div.inner-th Lead
							th 
								div.inner-th Name
							th 
								div.inner-th Age
							th 
								div.inner-th Occupation
							th 
								div.inner-th Operation
					tbody
						each data, index in userList
							tr
								td
									| #{index + 1}
								td
									| #{data.name}
								td
									| #{data.age}
								td
									| #{data.username}
								td
									| #{data.created_at}
						//- tr
						//- 	td
						//- 		|123
						//- 	td
						//- 		| Rishabh Agrawal
						//- 	td
						//- 		| 23
						//- 	td
						//- 		| Businessman
						//- 	td
						//- 		span.glyphicon.glyphicon-pencil
						//- 		span.glyphicon.glyphicon-remove