doctype html
html
	head
		title Alpha Project
		link(rel="stylesheet", href="/css/vendor.min.css")
		link(rel="stylesheet", href="/css/app.min.css")


		block head
	body
		include components/_header.jade
		section.main-container
			block content
		include components/_footer.jade