extends ./../layout.jade
block content
	div.subheader
		div.row
			div.col-md-3
				h3 Add New User
			div.col-md-6
				div.msg
					| !{error}
			div.col-md-3
				div.button-section
					a(href="/user/") View Users
	div.add-user-section
		div
			| #{success}
		form(action="/user/new" method="post")
			div.form-input-section
				div.row
					div.col-lg-4
						div.label-text
							|Name :
					div.col-lg-8
						div.input-section
							input(type="text" name="name")
			div.form-input-section
				div.row
					div.col-lg-4
						div.label-text
							|Username :
					div.col-lg-8
						div.input-section
							input(type="text" name="username")
			div.form-input-section
				div.row
					div.col-lg-4
						div.label-text
							|Age :
					div.col-lg-8
						div.input-section
							input(type="text" name="age")
			div.form-input-section
				div.button-section
					button(type="submit") Submit
