body{
	overflow-x:hidden !important;
}
.col-centered {
    margin: 0 auto;
    float: none;
}

*:focus {
    outline: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    outline: 0;
}
