.main-container {
    background: #f5f5f5;
    min-height: calc(100vh - 60px);
}

.subheader {
    height: 50px;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    background: #fff;
    color: #333;
    h3 {
        line-height: 50px;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-family: $font-semibold;
        padding-left: 25px;
    }
    .button-section {
        text-align: right;
        padding-right: 25px;
        a {
            border: 2px solid #333;
            font-family: $font-semibold;
            font-size: 15px;
            color: #333;
            padding: 7px 17px;
            line-height: 50px;
            border-radius: 4px;
            text-decoration: none;
        }
    }
}
