footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #f5f5f5;
    .copyright-section {
        text-align: center;
        line-height:55px;
        font-size:16px;
        font-family:$font-light;
    }
}
