$header-background: #f5f5f5;
$header-height: 60px;
header {
    height: $header-height;
    background: $header-background;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    border-bottom: 1px solid #e6e6e6;
    .logo-section {
        img {
            height: 45px;
            margin-top: 7.5px;
            margin-left: 15px;
        }
    }
    .user-section {
        width: 80%;
        margin-left: 20%;
        text-align: right;
        line-height: $header-height;
        font-family: $font-light;
        font-size: 16px;
        position: relative;
        .user-detail {
            padding-right: 30px;
            cursor: pointer;
            .user-img {
                display: inline;
                img {
                    height: 32px;
                    margin-right: 12px;
                    border-radius: 50%;
                }
            }
            .user-name {
                display: inline;
                text-transform: capitalize;
                color: #333;
            }
            i {
                margin-left: 20px;
            }
        }
        .user-drop-down-section {
            position: absolute;
            background: $white;
            width: 100%;
            left: 0;
            right: 0;
            top: 80px;
            text-align: left;
            line-height: 40px;
            opacity: 0;
            visibility: hidden;
            z-index: 21;
            @include transition(0.4s all);
            @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
            &.show {
                top: 60px;
                opacity: 1;
                visibility: visible;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: block;
                    a {
                        display: block;
                        padding-left: 20px;
                        font-size: 14px;
                        line-height: 40px;
                        &:hover {
                            background: #f5f5f5;
                        }
                        i {
                            margin-right: 10px;
                            font-size: 17px;
                            &.s-log-out {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
