.add-user-section {
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;
    .form-input-section {
        padding-bottom: 20px;
        .label-text {
            font-size: 17px;
            font-family: $font-semibold;
            color: $grey-600;
            line-height: 40px;
        }
        .input-section {
            input {
                width: 100%;
                height: 40px;
                line-height: 40px;
                padding: 0px 10px;
                font-family: $font-regular;
                font-size: 15px;
                &:focus {
                    box-shadow: 0px 0px 4px #55a9ff;
                    border: 1px solid #55a9ff;
                }
            }
        }
        .button-section {
            text-align: center;
            button {
                font-size: 16px;
                font-family: $font-semibold;
                background: $info;
                color: $white;
                border: none;
                padding: 9px 60px;
            }
        }
    }
}
