// Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
// note: All CSS3 Properties are being supported by Safari 5
// 
// Adds a browser prefix to the property
// @param {*} $property Property
// @param {*} $value Value
@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

// 2: Background Gradient
// 
// @param {Color} $startColor [#3C3C3C] - Start Color
// @param {Color} $endColor [#999999] - End Color
@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image: -moz-linear-gradient(top, $startColor, $endColor);
    background-image: -ms-linear-gradient(top, $startColor, $endColor);
    background-image: -o-linear-gradient(top, $startColor, $endColor);
    background-image: linear-gradient(top, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// @param {Size} $radius [4px] - Radius
// @require {mixin} css3-prefix
@mixin border-radius($radius: 4px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin text-shadow($shadow) {
    @include css3-prefix('text-shadow', $shadow);
}


// @param {Size} $x [0px] - X
// @param {Size} $y [2px] - Y
// @param {Size} $blur [5px] - Blur
// @param {Color} $color [rgba(0,0,0,.4)] - Color
// @param {Boolean} $inset - Inset
@mixin box-shadow($shadow) {
    @include css3-prefix('box-shadow', $shadow);
}


// CSS3 PROPERTIES
// --------------------------------------------------
// Single side border-radius
@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// Transitions
@mixin transition($transition) {
    @include css3-prefix('transition', $transition);
}

@mixin transition-delay($transition-delay) {
    @include css3-prefix('transition-delay', $transition-delay);
}

@mixin transition-duration($transition-duration) {
    @include css3-prefix('transition-duration', $transition-duration);
}

@mixin transition-transform($transition) {
    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -ms-transition: -ms-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}

// @param {*} $animation-name - Animation name
// @content [Animation css]
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    @include css3-prefix('animation', $str);
}

@mixin animation-fill-mode($str) {
    @include css3-prefix('animation-fill-mode', $str);
}
@mixin animation-delay($str) {
    @include css3-prefix('animation-delay', $str);
}

@mixin animation-name($names) {
    @include css3-prefix(animation-name, $names);
}

@mixin animation-duration($times) {
    @include css3-prefix(animation-duration, $times);
}


/// @param {String} $position - Either `relative`, `absolute` or `fixed`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Transformations

// @param {List} $params - Params
// @require {mixin} css3-prefix
@mixin transform($params) {
    @include css3-prefix('transform', $params);
}


@mixin rotate($degrees) {
    @include css3-prefix('transform', rotate($degrees));
}

@mixin scale($ratio) {
    @include css3-prefix('transform', scale($ratio));
}

@mixin translate($x, $y) {
    @include css3-prefix('transform', translate($x, $y));
}

@mixin skew($x, $y) {
    @include css3-prefix('transform', skew($x, $y));
}

@mixin translate3d($x, $y, $z) {
    @include css3-prefix('transform', translate3d($x, $y, $z));
}

@mixin translateZ($z) {
    @include css3-prefix('transform', translateZ($z));
}

@mixin transform-origin($origin) {
    @include css3-prefix('transform-origin', $origin);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
@mixin backface-visibility($visibility) {
    @include css3-prefix('backface-visibility', $visibility);
}

// Box sizing
@mixin box-sizing($boxmodel) {
    @include css3-prefix('box-sizing', $boxmodel);
}

// User select
// For selecting text on the page
@mixin user-select($select) {
    @include css3-prefix('user-select', $select);
}

// Resize anything
@mixin resizable($direction) {
    resize: $direction; // Options: horizontal, vertical, both
    overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
    -webkit-column-count: $column-count;
    -moz-column-count: $column-count;
    -ms-column-count: $column-count;
    -o-column-count: $column-count;
    column-count: $column-count;
    -webkit-column-gap: $column-gap;
    -moz-column-gap: $column-gap;
    -ms-column-gap: $column-gap;
    -o-column-gap: $column-gap;
    column-gap: $column-gap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
    word-wrap: break-word;
    @include css3-prefix('hyphens', $mode);
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: "alpha(opacity=#{$opacity-ie})";
}

// GRADIENTS
// --------------------------------------------------
#gradient {
    // Horizontal gradient, from left to right
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    @mixin horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
        background-image: -webkit-gradient(linear, $start-percent top, $end-percent top, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1+, Chrome 10+
        background-image: -moz-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
        background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb($start-color), argb($end-color))); // IE9 and down
    }
    // Vertical gradient, from top to bottom
    //
    // Creates two color stops, start and end, by specifying a color and position for each color stop.
    // Color stops are not available in IE9 and below.
    @mixin vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
        background-image: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(top, $start-color, $start-percent, $end-color, $end-percent); // Safari 5.1+, Chrome 10+
        background-image: -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
        background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb($start-color), argb($end-color))); // IE9 and down
    }
    @mixin directional($start-color: #555, $end-color: #333, $deg: 45deg) {
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1+, Chrome 10+
        background-image: -moz-linear-gradient($deg, $start-color, $end-color); // FF 3.6+
        background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10
    }
    @mixin horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
        background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
        background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
        background-image: -moz-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
        background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
        background-repeat: no-repeat;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)", argb($start-color), argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }
    @mixin vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
        background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
        background-image: -moz-linear-gradient(top, $start-color, $mid-color $color-stop, $end-color);
        background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
        background-repeat: no-repeat;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", argb($start-color), argb($end-color))); // IE9 and down, gets no color-stop at all for proper fallback
    }
    @mixin radial($inner-color: #555, $outer-color: #333) {
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($inner-color), to($outer-color));
        background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
        background-image: -moz-radial-gradient(circle, $inner-color, $outer-color);
        background-image: radial-gradient(circle, $inner-color, $outer-color);
        background-repeat: no-repeat;
    }
    @mixin striped($color: #555, $angle: 45deg) {
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient($angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient($angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: linear-gradient($angle, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    }
}

// Reset filters for IE
//
// When you need to remove a gradient background, don't forget to use this to reset
// the IE filter for IE9 and below.
@mixin reset-filter() {
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
