$scroll-track-color: rgba(0, 0, 0, 0.1);
$scroll-thumb: rgba(0, 0, 0, 0.5);
$scroll-height: 6px;
$scroll-border-radius : 10px;

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: $scroll-height;
    }
    &::-webkit-scrollbar-track {
        @include box-shadow(inset 0 0 5px $scroll-track-color);
        @include border-radius($scroll-border-radius);
    }
    &::-webkit-scrollbar-thumb {
        @include border-radius($scroll-border-radius);
        @include box-shadow(inset 0 0 7px $scroll-thumb);
    }
}

@mixin scrollbar-hor() {
    &::-webkit-scrollbar {
        height: $scroll-height;
    }
    &::-webkit-scrollbar-track {
        @include box-shadow(inset 0 0 5px $scroll-track-color);
        @include border-radius($scroll-border-radius);
    }
    &::-webkit-scrollbar-thumb {
        @include border-radius($scroll-border-radius);
        @include box-shadow(inset 0 0 7px $scroll-thumb);
    }
}